<h1>This Week's Top Discussions</h1>
<h2>Top 5 Most Commented Stories</h2>

<% @posts.each do |post| %>
  <% post = Post.find(post) %>
	<% totalcomments = UserComment.where(:commentable_id => post.id, :commentable_type => "Post").count %>
	<% user = User.where(:id => post.user_id)  %>
	<ul>
    <li>
      <p>
		    <%= link_to post.title, post_url(post) %> with <%= totalcomments %>comments created by <%= link_to user.first.full_name, user_url(user) %>
	   </p>
    </li>
  </ul>
<% end %>