<div class="comment ">
  <%= image_tag @user.avatar.url, :class => "comment-pic" %>
  <div class="comment-main">
    <div class="comment-header">
      <span class="comment-user"> <%= comment.user.full_name %></span> 
    </div>
    <div class="comment-body">
      <%= comment.body %>
    </div>
  </div>
</div>