<div class="comment">
  <div class="comment-main">
    <span class="comment-user chat" style="color: <%= comment.user.color %>;"> <%= comment.user.username %></span> - <span class="comment-body linkify"><%= comment.body %></span>
  </div>
</div>