<div class="col-right-top-section">
  <h3>Leaderboard</h3>
</div>
<div class="col-right-bottom">
  <ul class="leaderboard">
    <% @leaders.each do |leader| %>
      <%= link_to student_profile_path(leader) do %>
        <li>
          <%= image_tag(leader.avatar.url(:large)) %>
          <p style="color: #246db4;"><%= leader.full_name %></p>
          <p class="score"><%= leader.pcounter %></p>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>