<div class="redirect-container">
	<div class="redirect-modal">
		<p>We've switched over to <%= link_to "DraperTV Courses", "http://courses.drapertv.com", :class => "redirect-link" %>!</p>
		<p>Come learn how to build a startup with DraperTV Courses. We bring the magic of Silicon Valley and Draper University education online to accelerate your ideas, businesses, and products.</p>
	</div>
	
</div>
