<div class="top-section">
  <div class="row">
    <div class="top-column-main">
      <div style="width: 100%; position: relative; display; block;">
        <h1>Calendar</h1>
        <!-- ***** CREATE POST BUTTON ***** -->
      </div>
    </div><!-- column main -->
  </div><!-- row -->
</div>


<div class="column-main" style="margin-top: 20px;">
  <div class="event-calendar">
    <%= calendar @events, :start_day => :sunday do |event| %>
      <%= link_to event.name, event %>
    <% end %>
  </div>
</div>


<!-- ******  EVENT MODAL ******* -->
<div id="newEventModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render 'new' %>
</div>


