<div class="top-section">
  <h1 style="font-size: 34px; font-weight: 300;">Events</h1>
</div>

<br/><br/><br/><br/>

<div class="event-calendar">
  <div class="top-right">
    <a href="#newEventModal" data-toggle="modal" id="intro-video" data-backdrop="false">
      <div class="button">Create Event</div>
    </a>
  </div>
  <%= calendar @events, :start_day => :sunday do |event| %>
    <%= link_to event.name, event %>
  <% end %>
</div>

<br />

<!-- ******  EVENT MODAL ******* -->
<div id="newEventModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render 'new' %>
</div>


