.calendar td { height: 100px; width: 14.28%; }

.events-info {
	margin-bottom: 20px;
}

.event-colors {
	p {
		font-weight: 700;
		margin-bottom: 10px;
		line-height: 17px;
	}
	p:first-child {
		font-weight: initial;
	}
}

.event-calendar .table-bordered .day a , .event-item {
	margin-bottom: 10px;
	font-size: 10px;
	line-height: 12px;
	font-weight: 700;
	color: #414141;
}