#plans {
	padding: 40px 20px;
	box-sizing: border-box;
	font-size: 20px;
	font-weight: 500;
}

.plans-text {
	margin-bottom: 20px;
}

.plan {
	background: #F7F7F7;
	box-sizing: border-box;
	padding: 20px;
	@include flexbox;
	@include justify-content(space-between);
	@include align-items(center);
	cursor: pointer;
	margin-bottom: 20px;
	border: 1px solid #f7f7f7;
}

.plan.selected {
	border: 1px solid $green;
}

.plan.superhero.selected {
	border: 1px solid $blue;
}

.plan.superhero-yearly.selected {
	border: 1px solid $red;
}

.plan-info {
	width: calc(100% - 40px);
	height: 100%;
}

.plan-icon {
	height: 20px;
	width: 20px;
}

.plan-title {
	margin-bottom: 10px;
}

.plan-description {
	margin-bottom: 0px;
}

.form-row {
	@include flexbox;
	@include justify-content(space-between);
}

.payment-input {
	height: 40px;
	width: 100%;
	border: 1px solid $green;
	border-radius: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
	padding: 0px 10px;
	text-align: center;
	font-weight: 500;
}

.payment-input[type="text"]:focus {
	border: 1px solid $green;
}

.payment-input.error {
	border: 1px solid $red;
	color: #414141;
}

.payment-input.mini {
	width: 80px;
}

.checkout {
	height: 40px;
	background: $green;
	color: white;
	text-align: center;
	width: 100%;
	border-radius: 5px;
	border: none;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 700;
}

#code {
	border: 1px solid $blue;
}

.checkout.code {
	background: $blue;
}

.column-body.payment {
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(space-between);
	min-height: calc(100vh - 110px);
}

.column-header {
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
