#landing-header {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background: $blue;
	text-align: center;
	z-index: 6;
	border-bottom: 1px solid #287ac9;
	display: none;
	box-sizing: border-box;
	* {
		box-sizing: border-box;
	}
}

#header-content {
	@include flexbox;
	justify-content: space-between;
	width: 960px;
	margin: 0 auto;
}

.header-logo {
	position: absolute;
	left: calc(50% - 93.5px);
}

.header-item {
	height: 100%;
	line-height: 50px;
	cursor: pointer;
	font-size: 14px;
	display: inline;
	margin: 0 10px;
	font-weight: 600;
}

.header-item.active {
	color: white;
}

.header-item.active a {
	color: white;
}

.header-item:first-child {
	margin-left: 0px;
}

.header-item a {
	color: rgba(255,255,255,0.5);
	margin: 0 auto;
}

.nav.header-item {
	opacity: 1;
}

.dropdown {
	position: absolute;
	display: none;
}


.header-item:hover:not(.nav) {
	color: white;
	a {
		color: white;
	}
}

.logo.header-item {
	height: 30px;
	margin: 0px auto;
	opacity: 1;
}

.search-input {
	height: 30px;
	border: none;
	-webkit-appearance: none;
	font-size: 15px;
	opacity: 1;
	border-radius: 5px;
	background: white;
	width: 250px;
	margin: 10px 0px;
	box-sizing: border-box;
	padding: 0px 10px;
	color: #246db4;
}

.search-input::-webkit-input-placeholder {
	color: $blue;
}

.nav.header-item:hover {
	.dropdown-menu {
		display: block;
		right: 0px;
		left: initial;

	}
}


	.logo.header-item {
	  	margin: 10px 0px;
	 }
	 .header-item {
	 	position: relative;
	 	.bubble {
	 		color: white;
	 		background: $red;
	 		border: 1px solid white;
	 		text-align: center;
	 		font-size: 10px;
			padding: 0px 5px;
	 		height: 16px;
	 		line-height: 14px;
	 		position: absolute;
	 		right: -10px;
	 		top: 10px;
	 		opacity: 1;
	 		border-radius: 50px;;
	 	}
	 }
	 #landing-header {
	 	@include flexbox;
	 	@include justify-content(space-between);
	 	padding: 0px 20px;
	 }
	 .header-logo {
	 	position: static;
	 	margin-right: 30px;
	 }
	 .header-left, .header-right {
	 	@include flexbox;
	 }
	 .nav.header-item {
	 	margin-left: 20px;
	 }

.profile-info {
	height: 60px;
	border-bottom: 1px solid #E7E7E7;
	box-sizing: border-box;
	padding: 10px 20px;
	@include flexbox;
	font-weight: 700;
}

.profile-pic {
	height: 40px;
	width: 40px;
	border-radius: 5px;
	margin-right: 10px;
}

.profile-name {
}

.profile-karma {
	color: $light-blue;
}

#side-nav .main {
	box-sizing: border-box;
	padding: 20px;
	margin-top: 0px;
	position: relative;
	min-height: 100vh;
	.side-link {
		margin-bottom: 20px;
		font-weight: 700;
		display: block;
		letter-spacing: 1px;
	}
	.side-link.active {
		color: $blue;
	}
	.side-link.logout {
		position: absolute;
		bottom: 110px;
		left: 20px;
	}
}

.header-right {
	.dropdown-menu {
		top: 30px;
		left: initial;
		right: 0px;
		li a {
			color: #414141;
		}
		li a:hover {
			background: none;
		}
	}
}


.settings-icon {
cursor: pointer;
height: 16px;
width: 16px;
}




