.lesson-container, #amas {
	box-sizing: border-box;
	padding: 40px;
	iframe {
		width: calc(100vw - 620px);
		height: calc((100vw - 620px) * 9 / 16);
		margin-bottom: 20px;
	}
	.video-title {
		font-size: 20px;
		font-weight: 700;
	}
	.video-author {

	}
	.lesson-body {
		font-size: 20px;
		margin-bottom: 20px;
		font-weight: 300;
		line-height: 1.2;
		a {
			color: #0000ff;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	form {
		margin-bottom: 20px;
	}
	textarea.comment-body {
		width: 100%;
		height: 50px;
		font-size: 14px;
		padding: 5px;
		box-sizing: border-box;
		border-radius: 5px;
		border: 1px solid #CCCCCC;
		margin-bottom: 10px;
	}


	.comment {
		@include flexbox;
		align-content: top;
		margin-bottom: 20px;
		position: relative;
	}
	.comment-vote-container {
		text-align: center;
		width: 40px;
		@include flexbox;
		@include flex-direction(column);
		@include align-items(center);
	}
	.upvote-arrow {
		margin-bottom: 5px;
	}
	.vote-count {
		color: #939393;
		font-weight: 400;
	}
	.comment-pic {
		width: 40px;
		height: 40px;
		border-radius: 5px;
		margin-right: 10px;
	}
	.comment-main {
		box-sizing: border-box;
		width: calc(100% - 80px);
	}
	.comment-header {
		margin-bottom: 10px;
		font-weight: 700;
		.user-title {
			color: #2AB4FF;
		}
		.comment-date {
			color: #939393;
			font-weight: 400;
		}
	}
	.comment-action {
		position: absolute;
		top: 0;
		right: 0;
		height: 20px;
		width: 20px;
		cursor: pointer;
	}
	.comment-children {
		box-sizing: border-box;
		padding-left: 50px;
	}
	.comment-children .comment-body {
		height: 40px;
	}

	.comment-children .new_comment {
		@include flexbox;
		box-sizing: border-box;
		padding-left: 40px;
	}
	.comment.collapsed {
		span {
			color: #C0C0C0;
		}
	}
	.comment-text-vote {
		margin-right: 20px;
	}
	.sort-bar {
		@include flexbox;
		margin-bottom: 20px;
		p {
			margin-right: 20px;
			color: #919191;
			font-weight: 300;
		}
		p.active {
			font-weight: 700;
			color: #414141;
		}
		.sort-item {
			cursor: pointer;
		}
	}
}

// SideBar

.bar-header {
	box-sizing: border-box;
	padding: 12px 20px;
	font-weight: 700;
	background: #e7e7e7;
	cursor: pointer;
}
.bar-item a {
	@include flexbox;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 10px 20px 10px 10px;
	align-items: center;;
	border-bottom: 1px solid #E7E7E7;
}

.bar-lesson-desc {
	display: none;
}

.bar-item.current a{
	align-items: initial;
	background: rgba(36,109,180,0.2);
	.bar-lesson-desc {
		display: block;
	}
}

.bar-icon {
	height: 20px;
	width: 20px;
}

.bar-text {
	width: calc(100% - 60px);
	margin-bottom: 0px;
}

.bar-circle {
	height: 10px;
	width: 10px;
	background: #e7e7e7;
	border-radius: 50%;
}

.header-info.complete-btn, .header-info.complete-btn:hover {
	color: #24B494;
  	background: none;
  	border: none;
  	padding: 0px;
  	height: 100%;
  	font-size: 14px;
  	line-height: 60px;
}






