body {
  a, p, h1, h2, h3, h4, h5, h6, div {
    color: #414141;
  }
  .top-section {
    .header-info, h1, .header-back {
      font-weight: 700;
      letter-spacing: 1px;
    }
    h1 {
      letter-spacing: initial;
    }
  }

  .column-right {
    padding: 20px;
    box-sizing: border-box;
  }

  .column-header p {
      color: 414141;
      margin: 0px;
      height: 20px;
      line-height: 20px;
      margin-bottom: 25px;
      font-weight: 700;
  }

	#side-nav, .navbar-inner .container .left-blue {
		width: 240px;
	}
	#side-nav {
		.top-bar {
			height: 60px;
		}
		.main {
			margin-top: 60px;
		}
	}
	#main-body .column-right {
		width: 300px;
	}
	#main-body {
		margin-left: 240px;
  		width: calc(100% - 540px);
  		.top-section {
  			width: 100%;
  			height: 60px;
  			position: static;
  			border-top: 0px;
  			.row {
  				margin: 0;
  			}
  		}
  		.top-column-main {
  			float: none;
        @include flexbox;
        justify-content: space-between;
        box-sizing: border-box;
        align-content: center;
  			text-align: center;
  			padding: 0px 20px;
  			width: 100%;
  			height: 100%;
        .header-back {
          color: #a7a7a7;
        }
        p {
          height: auto;
          margin: 0;
          line-height: 60px;
        }
        h1 {
          padding: 0px;
          line-height: 60px;
          flex-grow: 1;
          font-size: 20px;
        }
  		}
  		.column-main {
  			float: none;
        padding: 0px;
        width: 100%;
        margin-top: 0px;
  		}
	}

}