.topics {
	// @include flexbox;
	// @include flex-wrap(wrap);
	box-sizing: border-box;
	padding: 20px;
}

.topic {
	float: left;
	margin-right: 20px;
	width: calc(((100vw - 580px) / 4) - 15px);
	height: calc(((100vw - 580px) / 4) - 15px);
	background: #F7F7F7;
	margin-bottom: 20px;
	color: #A7A7A7;
	position: relative;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	border: 1px solid #e9e9e9;
	box-sizing: border-box;
	a {
		display: block;
		height: 100%;
	}
}

.topic:hover {
	background: #f0f0f0;
}

.topic:nth-child(4n) {
	margin-right: 0px;
}

.topic-name {
	margin-top: 15px;
	width: 100%;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 700;
	-webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.free-icon {
	height: auto;
	width: 20%;
	top: -1px;
	left: 4%;
	position: absolute;
}

.topic-icon-container {
	width: 45%;
	height: 45%;
	margin: calc(35% - 45px) auto 30px auto;
	border-radius: 50%;
	background: #F0F0F0;
	position: relative;
	opacity: 0.8;
	.topic-icon {
		position: absolute;
		height: 45%;
		width: 45%;
		// top: calc((((100vw - 580px) / 4) - 115px)/2 - ((((100vw - 580px) / 4) - 160px)/2));
		// left: calc((((100vw - 580px) / 4) - 115px)/2 - ((((100vw - 580px) / 4) - 160px)/2));
		top: calc((((100vw - 580px) / 4) - 15px) * 0.12375);
		left: calc((((100vw - 580px) / 4) - 15px) * 0.12375);
	}
}


@media (min-width: 1400px) {
	body {
		.topics {
			max-width: 820px;
			margin: 0 auto;
			@include flex-wrap(wrap);
		}
		.topic {
			max-width: 180px;
			max-height: 180px;
		}
		.topic-icon-container {
			height: 80px;
			width: 80px;
			margin: 25px auto 30px auto;
			.topic-icon {
				height: 30px;
				width: 30px;
				top: 25px;
				left: 25px;
			}
		}

	}
}

@media (max-width: 1280px) {
	body {
		.topic {
			min-width: 160px;
			min-height: 160px;
		}
		.topic-icon-container {
			height: 70px;
			width: 70px;
			.topic-icon {
				height: 30px;
				width: 30px;
				top: 20px;
				left: 20px;
			}
		}
	}
}

.topic-icon-container.complete {
	border: none !important;
	.topic-icon {
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
	}
}

.percent-complete-bar {
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0;
	height: 8px;
	background: #f0f0f0;
}


.percent-complete {
	position: absolute;
	bottom: 10px;
	right: 5px;
}

// Right Column

.padding {
	height: 60px;
}

.welcome-container {
	box-sizing: border-box;
	padding: 20px;
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(space-between);
	height: 310px;

}

.welcome-message {
	font-weight: 700;
	color: $blue;
	margin-bottom: 20px;
}



.get-started {
	background: $green;
	color: white;
	text-align: center;
	height: 40px;
	line-height: 40px;
	width: 100%;
	border: none;
	border-radius: 5px;
	letter-spacing: 1px;
	font-weight: 700;
}

.oath, .oath-title {
	font-size: 10px;
	color: black;
	opacity: 0.2;
	margin: 0;
}

.oath-title {
	margin-bottom: 5px;
	font-weight: 700;
}



//////////////////


.tutorial-overlay {
	position: fixed;
	height: calc(100vh - 50px);
	top: 50px;
	width: 100vw;
	z-index: 10;
	left: 0;
	background: rgba(0,0,0,0.7);
}

.divider {
	background: white;
	height: calc(100vh - 120px);
	position: absolute;
	top: 40px;
	width: 1px;
}

.divider-left {
	left: 240px;
}

.divider-right {
	right: 300px;
}

.left-tut {
	width: 240px;
	box-sizing: border-box;
	padding: 20px;
	left: 0px;
	top: 220px;
	color: white;
	position: absolute;
	line-height: 17px;
}

.mid-tut {
	width: 180px;
	position: absolute;
	left: calc(420px + 240px + (50vw - 680px));
	top: calc(360px + 110px );
	line-height: 17px;
	color: white;
}

.right-tut {
	box-sizing: border-box;
	width: 300px;
	right: 0px;
	color: white;
	top: 287px;
	padding: 20px;
	position: absolute;
}

.next-tut-container {
	background: $green;
	text-align: center;
	border-radius: 50px;
	width: 90px;
	height: 30px;
	border: 2px solid #1E977C;
	position: absolute;
	bottom: 40px;
	right: 320px;
	line-height: 30px;
	cursor: pointer;
	img {
		width: 20px;
		height: auto;
	}
}

.btn-ui {
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	box-sizing: border-box;
	color: white;
	font-weight: 700;
	border: none;
}

.purchase-membership {
	background: $green;
	width: calc(100% - 40px);
	position: absolute;
	bottom: 20px;
	left: 20px;
	letter-spacing: 1px;
}

.course-description {
	margin-bottom: 20px;
}




