.tracks {
	padding: 20px;
	box-sizing: border-box;
	min-height: calc(100vh - 230px);
}

.track {
	background: #f7f7f7;
	width: 100%;
	margin-bottom: 20px;
	height: 80px;
	align-items: center;
	@include flexbox;
	@include justify-content(space-between);
	padding: 20px;
	box-sizing: border-box;
	-webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    border: 1px solid #e9e9e9;
}

.track:hover {
	background: #f0f0f0;
}

.track-name {
	color: #A7A7A7;
	text-align: left;
	margin-bottom: 5px;
	letter-spacing: 1px;
	font-weight: 700;
	-webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    span {
    	color: #414141;
    	-webkit-transition-duration: 0.3s; /* Safari */
    	transition-duration: 0.3s;
    }
}

.track-icon {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	position: relative;
	margin-right: 40px;
	.track-icon {
		height: 40px;
		width: 40px;
		left: 0px;
		top: 0px;
		position: absolute;
	}
}

.topic-info-icon {
	margin-bottom: 30px;
}

.topic-description {
	font-weight: 500;
}

.track-info {
	@include flexbox;
	@include align-items(center);
}

.track-info-content {
	height: 40px;
}
.watch-time {
	color: #A7A7A7;
}

.track-status {
	justify-content: flex-end;
}

.track-percent-complete {
	text-align: right;
	margin-bottom: 5px;
	font-weight: 500;
}

.track-completion {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 8px;
}

.track-percent-complete-bar {
	width: 200px;
	background: #f0f0f0;
	height: 8px;
	position: relative;
}

.start-lesson-btn {
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
	font-weight: 700;
	background: #24B494;
	cursor: pointer;
	border-radius: 5px;
	-webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.track:hover .start-lesson-btn {
	background: #1fa184;
}

.track-percent-complete-bar {

}

.track-body {
	margin-top: 40px;
}

$topic-list: "attitude", "starting-up", "product", "sales", "marketing", "fundraising", "hiring", "biz-finance", "legal", "auxiliary";
$color-list: #246DB4, #35B3DE, #24B494, #88B250, #F2B81D, #F38F31, #E1474C, #A53A6A, #414141, #B6B6B6;
$rgba-color-list: rgba(36,	109,	180, 0.2),rgba(53,	179,	222, 0.2),rgba(36,	180,	148, 0.2),rgba(136,	178,	80, 0.2),rgba(242,	184,29, 0.2),rgba(243,	143,	49, 0.2),rgba(225,	71,	76, 0.2),rgba(165,	58,	106, 0.2),rgba(65,	65,	65, 0.2),rgba(182,	182,	182, 0.2);

@each $topic in $topic-list {
	$i: index($topic-list, $topic);
	.#{$topic}:hover {
		.percent-complete-bar {
			background: nth($rgba-color-list, $i);
		}
	}	

	.#{$topic} {
		h1, .track-percent-complete, .header-info, .started .topic-name, .completed .topic-name, .percent-complete, .started .track-name {
			color: nth($color-list, $i);
		}
		.started .track-icon-container, .track-completion, .started .topic-icon-container, .untouched .topic-icon-container, .untouched .track-icon-container {
			background: nth($color-list, $i);
			opacity: 0.8;
		}
		.track-percent-complete-bar, .percent-complete-bar {
			background: nth($rgba-color-list, $i);
			opacity: 0.8;
			-webkit-transition-duration: 0.3s; /* Safari */
    		transition-duration: 0.3s;

		}
		.track:hover .track-name {
			color: nth($color-list, $i);
			span {
				color: #414141;
			}
		}
		.completed:not(a) {
			background: white;
			border: 1px solid nth($color-list, $i);
			.track-icon-container {
				background: white;
				border: 1px solid nth($color-list, $i);
			}
			.track-name {
				color: nth($color-list, $i);
			}
			.topic-icon-container {
				box-sizing: border-box;
				background: white;
				border: 1px solid nth($color-list, $i);
			}
		}
		.untouched {
			.percent-complete {
				display: none;
			}
			.percent-complete-bar {
				background: #f0f0f0;
			}
			.topic-name {
				color: rgba(0,0,0,0.3);
			}
			.track-name span {
				color: #a7a7a7;
			}
		}
		.untouched:hover {
			.topic-name {
				color: nth($color-list, $i);
			}
			.percent-complete-bar {
				background: nth($rgba-color-list, $i);
			}
		}
	}
	.#{$topic}.completed {
		border: 1px solid nth($color-list, $i);
		box-sizing: border-box;
		background: white;
	}
} 


.participants {
	left: 20px;
	bottom: 40px;
	width: 240px;
	position: absolute;
}

.participants-header {
	font-weight: 700;
	margin-bottom: 10px;
	letter-spacing: 1px;
}

.participants-list {
	@include flexbox;
	@include flex-wrap(wrap);
}

.participant {
	height: 30px;
	width: 30px;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 10px;
}

.more-participants {
	background: #c0c0c0;
	font-size: 10px;
	line-height: 30px;
	text-align: center;
	font-weight: 700;
}


