<!-- ******  BADGE VIDEO MODAL ******* -->
      <div id="badgeVideoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">You've Completed <%= @course.title %>!</h3>
        </div>
        <div class="modal-body">
          <div class="intro">
          <% if @course.badge_vimeo %>
            <% oembed = "http://vimeo.com/api/oembed.json?url=http%3A//vimeo.com/" + @course.badge_vimeo + '&maxwidth=500' + '&autoplay=0' %>
            <% puts (Curl::Easy.perform(oembed).body_str)["html"] %>
            <% @badge_embed = JSON.parse(Curl::Easy.perform(oembed).body_str)["html"] %>
            <%= raw @badge_embed %>
          <% else %>
          <% end %>
          </div>
        </div>
      </div> <!-- ** END BADGE VIDEO MODAL ** -->

