<div class="span12 pagination-centered">
<% if @exception %>
	<h1>You just 403'd,Forbidden. You tried to do an authorized action!</h1>

  <img src="http://pleatedjeans.files.wordpress.com/2010/08/fat_unicorntakdetail.png" style="max-width:100%;" alt="Unicorn">
<% else %>
  <p>Page is note found!</p>
<% end %>

</div>