<div class="span12 pagination-centered">
<% if @exception %>
	<h1>UhOh! You just got 404'd! Page Not Found</h1>
	<h1>Look here is a flying Unicorn!</h1>

  <img src="http://rlv.zcache.com/cute_unicorn_posters-ref7344c10dca4849a22f76a9a1b6824f_wvk_8byvr_400.jpg" style="max-width:100%;" alt="Unicorn">
<% else %>
  <p>Page is note found!</p>
<% end %>

</div>