<div class="span12 pagination-centered">
<% if @exception %>
	<h1>It's Code 500</h1>
	<h1>Looks like our team is working on this section!</h1>

  <img src="http://i.imgur.com/2o7o3.jpg" style="max-width:100%;" alt="Unicorn">
<% else %>
  <p>Page is note found!</p>
<% end %>

</div>