<div class="top-section">
  <div class="row">
    <div class="top-column-main">
      <div style="width: 100%; position: relative; display; block; padding-left: 20px;">
        <h1>How are we doing?</h1>
      </div>
    </div><!-- column main -->
  </div><!-- row -->
</div>

<br/><br/>
<br/><br/>

<div class="column-main" style="margin-top: 30px; padding-left: 30px;">
 <div id="event-show">
  <%= render 'form' %>
  </div>
</div>

<div class="column-right">
  <%= render "activity_feeds/sidebarindex"%>
</div>