body {
}

.sidr-open {
  overflow: hidden;
}
.main-container {
  position: relative;
  width: 100%;
  left: 0;
  -webkit-transition:  left 0.4s ease-in-out;
  -moz-transition:  left 0.4s ease-in-out;
  -ms-transition:  left 0.4s ease-in-out;
  -o-transition:  left 0.4s ease-in-out;
  transition:  left 0.4s ease-in-out;
}
.main-container.open-sidebar {
  left: 240px;
  overflow: hidden;
}
#sidebar {
  position: absolute;
  left: -240px;
  background: #DF314D;
  width: 240px;
  min-height: 100%;
  height: 100%;
}
.main-content {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#load-more {
  display: block;
  width: 100%;
  font-size: 10px;
  overflow: visible;
  background: none;
  height: auto;
  padding: 5px 15px;
  color: $blue;
  a {
    color: $blue;
    &:hover { color: $blue-hover; }
  }
  .view-all {
  }
}

#notify {
  margin-top: 0px;
  #post {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    border-bottom: 1px solid $gray-x-lt;
    margin-top: 10px;
    padding-bottom: 10px;
    .content {
      margin-left: calc(6% + 30px);
      font-size: 13px;
      color: $gray-med;
      a {
        color: $gray;
        &:hover { color: $blue; }
      }
      .name { 
        float: left;
        margin-left: 0; 
        font-size: 13px;
        color: $blue;
        margin-right: 4px;
        &:hover { color: $blue; }
      }
      .item {
        float: left;
        display: block;
        color: $gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .timestamp {
        margin-left: 0;
        font-size: 10px;
        color: $gray-lt;
      }
    }
    .picture {
      border-radius: 2px;
      overflow: hidden;
      width: 25px;
      height: 25px;
      position: absolute;
      top: 4px;
      left: 7%;
    }
    img {
      width: 25px;
      height: 25px;
    }
  }
  &:hover {

  }
}

#ajax-loading {
  width: 30px;
  margin: 0 auto;
  img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }
}

.navbar { 
  background: #246db4; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iIzI0NmRiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyOTg5ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMjA3Y2NhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg,  #246db4 10%, #2989d8 100%, #207cca 100%, #7db9e8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(10%,#246db4), color-stop(100%,#2989d8), color-stop(100%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #246db4 10%,#2989d8 100%,#207cca 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #246db4 10%,#2989d8 100%,#207cca 100%,#7db9e8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #246db4 10%,#2989d8 100%,#207cca 100%,#7db9e8 100%); /* IE10+ */
  background: linear-gradient(135deg,  #246db4 10%,#2989d8 100%,#207cca 100%,#7db9e8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#246db4', endColorstr='#7db9e8',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
.navbar-inner { 
  background: none;
  max-height: 42px;
  min-height: 42px;
  border: none;
  box-shadow: none;
  font-weight: 300;
  letter-spacing: 0.3px;
  .container { 
    max-width: 100%;
    width: 100%;
    background: none;
    padding-top: 0px;
    height: 42px;
    .left-blue {
      height: 42px;
      width: 185px;
      background: #0067B3;
      display: block;
      float: left;
    }
    
    .sb-toggle-right {
      position: relative;
      right: 22px;
      top: 2px;
      overflow: hidden;
      #notifications {
        font-size: 15px;
        color: #B3CBEB;
        &:hover { 
          opacity: 0.8; 
          cursor: pointer;
        }
      }
      .notifications {
        color: $blue-4;
      }
      .empty { color: white; }
      .red-circle {
        position: absolute;
        top: 5px;
        right: 0;
        background: $red;
        width: 16px;
        height: 16px;
        border-radius: 12px;

        font-size: 9px;
        font-weight: bold;
        color: white;
        text-align: center;
        vertical-align: middle;
        p { margin-top: -1px; }
      }
      .display-block {
        display: block;
      }
    }
    #left-menu {
      position: absolute;
      display: none;
      left: 14px;
      top: 18px;
      overflow: hidden;
      &:hover { 
        opacity: 0.7; 
        cursor: pointer;
      }
      #menu-icon { 
        background-image: image-url('menu-icon.png'); 
        background-repeat: no-repeat;
        display: block;
        width: 17px;
        height:15px;
        overflow: none;
        float: left;
      }
      .title {
        color: white;
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        float: left;
        display: block;
        padding-left: 7px;
        margin-top: -1px;
      }
    }
    
    .logo {

    } 
    li a { 

    }
    .dropdown { 

      a { 
        color: white;
        text-shadow: none;
        font-weight: 300;
        letter-spacing: 0.3px;
        &:hover {
          color: white;
          text-shadow: none;
        .caret { 
          //border-color: white;
          &:hover {  }
          }
        }
      }
    }
    .dropdown-menu > li > a {
      color: $gray-med;
      &:hover {
        color: $gray-dark;
      }
    }
  }
}

//**** DROPDOWN NOTIFICATIONS **** //
#notification-dropdown {
  min-width: 300px;
  margin-right: 20px;
}

.sb-right {
  #navbar-avatar {
    margin-left: 30px;
    margin-top: 12px;
    height: 25px;
    width: 25px;
    border-radius: 2px;
  }
  .top-bar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #1b2224;
    width: 100%;
    height: 50px;
    color: white;
  }
}
#side-nav {
  background: #313E4F;
  display: block;
  width: 185px;
  z-index: 0;
  color: $gray-med;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 42px;
  overflow: hidden;
  //width: 180px;
    .top-bar {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: none;
      border-bottom: 1px solid $dark-blue;
      width: 100%;
      height: 68px;
      color: white;
      #navbar-avatar {
        margin-left: 15px;
        margin-top: 12px;
        height: 48px;
        width: 48px;
        border-radius: 0px;
      }
      .info-container {
        display: block;
        float: left;
        .name {
          padding-top: 12px;
          margin-left: 10px;
          font-size: 13px;
          font-weight: bold;
          letter-spacing: 0.3px;
          color: $gray-x-x-lt;
          font-weight: normal;
        }
        .points {
          padding-top: 6px;
          margin-left: 12px;
          font-size: 20px;
          font-weight: 100;
          color: $gray-blue-x-lt;
          letter-spacing: 0.3px;
        }
      }
      
      &:hover {
        background: $dark-blue;
      }
    }
    
    .main {
      display: block;
      margin-top: 65px;
      position: absolute;
      padding-left: 15px;
      width: calc(100% - 15px);
    }
    .section-link {
      width: 100%;
      display: block;
      clear: both;

    .icon {
      display: none;
      float: left;
      width: 14px;
      height: 14px;
      padding-top: 4px;
      padding-right: 3px;

      i { color: $gray; }
    }

    .title {
      font-size: 14px;
      color: $gray-x-x-lt;
      font-weight: 100;
      letter-spacing: 0.3px;

      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 8px;

      a { color: $gray-med; }
    }

    &:hover {
      a, i, .title { 
        color: white; 
        background: #2E3847;
      }
    }
  }

  .section-title {
    text-transform: uppercase;
    color: $gray-blue-x-lt;
    font-size:10px;
    font-weight: 700;
    letter-spacing: 1.2px;

    padding-top: 25px;
  }
}

#main-body {
  display: block;
  float: left;
  margin-left: 185px;
  padding-bottom: 100px;
  margin-bottom: 180px;
  width: calc(100% - 185px);
  background: white;
  .top-section {
    height: 57px;
    border-bottom: 1px solid $gray-lt;
    border-top: 1px solid $gray-x-lt;
    width: calc(100% - 200px);
    padding: 5px 15px;
    position: fixed;
    background: white;
    z-index: 100;
    .button-right {
      display: block;
      float: right;
      min-width: 80px;
      width: auto;
      margin-right: 20px;
      padding-top: 10px;
      a { text-align: center; }
    }
  }
  .back a { 
    color: $blue; 
    font-size: 12px;
    font-weight: bold;
    margin-left: 25px;
    &:hover { color: $blue-hover; }
  }
  .back-button {
    display: block;
    margin-top: 80px;
    margin-left: 20px;
    font-size: 12px;
    font-weight: bold;
    a {
      color: $gray-blue-x-lt;
      &:hover { color: $blue; }
    }
  }
}

.breadcrumb {
  letter-spacing: 0.3px;
  margin-top: -5px;
  font-size: 12px;
  font-weight: normal;
  li {
    a { 
      color: $blue-0; 
      font-weight: bold; 
      &:hover { color: $blue-2; }
    }
  }
}

.course-show-container {
  display: block;
  width: 100%;
  position: relative;
  height: auto;
}
.course-show-left {
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  .information {
    display: block;
    width: 90%;
    ul li {
      color: $gray;
      font-size: 12px;
      line-height: 1.4;
    }
  }

  .title {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 37px;
  }
  .tab-content {
    padding: 15px;
    color: $gray;
    .dates { padding-bottom: 10px; font-weight: bold; }
  }
  #intro-video {
    display: block;
    width: 80%;
    min-width: 350px;
    height: auto;
    float: left;
    margin-right: 4%;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    opacity: 0.9;

    .play-intro {
      opacity: 0.8;
      width: 0;
      height: 0;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 45px solid white;

      position: absolute;
      bottom: 20px;
      left: 28px;
      z-index: 100;
    }

    &:hover {
      opacity: 1;

      .play-intro {
        opacity: 1;
        -webkit-transform:scale(1.3, 1.3);
        -moz-transform:scale(1.3, 1.3);
        -o-transform:scale(1.3, 1.3);
        -ms-transform:scale(1.3, 1.3);
        transform:scale(1.3, 1.3);
        }
      }

  }
}
.course-show-right {
  display: block;
  width: 50%;
  position: absolute;
  top: 20px;
  right: 0;
  padding-bottom: 100px;
}

@media all and (min-width: 1001px) { 
  .course-show-left {
  }
}
@media all and (max-width: 1000px) and (min-width: 700px) {  
  .course-show-left {
    width: 100%;
    #intro-video {
      display: none;
    }
    .information {
      display: none;
    }
  }
  .course-show-right {
    width: 100%; 
    margin-top: 60px;
  }
}
@media all and (max-width: 699px) { 
  .course-show-left {
    width: 100%;
    min-height: 40px;
    #intro-video {
      display: none;
    }
    .information {
      display: none;
    }
  }
  .course-show-right {
    width: 100%; 
    margin-top: 60px;
    .video-information {
      width: calc(95% - 60px);
    }
    .complete {
      width: 45px;
      height: 45px;
      background-size: contain; 
    }
    .pic {
      width: 45px;
      height: 45px;
      img {
        width: 45px;
        height: 45px;
      }
    }
    .icon { display: none; }
  }
}

