// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*********************/
/***** PROFILE *******/
/*********************/

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; color: brown;}
  .m { font-size: 1.2em; color: orange;}
  .l { font-size: 1.8em; color: red;}
}

.description {
	font-size: 16px;
	font-weight: normal;
	color: $gray;
	margin-bottom: 20px;
}
.bio {
	font-weight: 300;
	font-style: italic;
	color: $gray;
	font-size: 14px;

	width: 85%;
}
#profile_links {
	width: 100%;
	display: block;

	i, span {
		display: block;
		float: left;
	}
	i {
		padding-left: 10px;
		margin-left: 5px;
	}
	span, a {
		color: $gray-lt;
		font-weight: 700;
		font-size: 13px;
		padding-left: 2px;
	}	
	a:hover {
		color: $blue;
	}
}

#profile_top_container {
	 display: block;
	 margin-top: 20px;
	 position: relative;
	 width: 96%;

	 #avatar {
		display: block;
		float: left;
		margin-right: 30px;
		border: 1px solid $gray-x-x-lt;
		//border-radius: 70px;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		img {
			max-width: 120px;
			max-height: 120px;
		}
	}

	.right {
		display: block;
		margin-left: 160px;
		padding-top: 28px;
		min-height: 110px;
		height: auto;

		.name {
			font-size: 2.2em;
			font-weight: 300;
			color: $gray-dark;
			display: block;
			float: left;
			line-height: 1.0;
		}
		.type {
			display: block;
			float: left;
			margin-top: -2px;
			margin-left: 12px;
			@include tag;	
		}
		.blue { background: $blue; }
		.red { background: $red; }
		.teal { background: $teal; }
		#profile-info {
			display: block;
			clear: both;
			padding-top: 25px;
			padding-bottom: 10px;

			img {
				display: block;
				width: 26px;
				height: 26px;
				border: none;
				outline: 0;
				float: left; 
				margin-right: 10px;
				margin-bottom: 10px;
				background-color: white;
			}

			#instagram {
				background: image-url('icons/instagram.png') no-repeat 0 0;
				background-color: white;
				opacity: 0.6;
				&:hover {
					background: image-url('icons/instagram.png') no-repeat 0 -26px;
					opacity: 1;
				}
			}
			#facebook {
				background: image-url('icons/facebook.png') no-repeat 0 0;
				background-color: white;
				opacity: 0.6;
				&:hover {
					opacity: 1;
					background: image-url('icons/facebook.png') no-repeat 0 -26px;
				}
			}
			#twitter {
				background: image-url('icons/twitter.png') no-repeat 0 0;
				opacity: 0.6;
				&:hover {
					opacity: 1;
					background: image-url('icons/twitter.png') no-repeat 0 -26px;
				}
			}
			#linkedin {
				background: image-url('icons/linkedin.png') no-repeat 0 0;
				opacity: 0.6;
				&:hover {
					opacity: 1;
					background: image-url('icons/linkedin.png') no-repeat 0 -26px;
				}
			}
			#dribbble {
				background: image-url('icons/dribbble.png') no-repeat 0 0;
				opacity: 0.6;
				&:hover {
					opacity: 1;
					background: image-url('icons/dribbble.png') no-repeat 0 -26px;
				}
			}
			#email-icon {
				background: image-url('icons/email.png') no-repeat 0 0;
				opacity: 0.6;
				&:hover {
					opacity: 1;
					background: image-url('icons/email.png') no-repeat 0 -26px;
				}
			}
			#github {
				background: image-url('icons/github.png') no-repeat 0 0;
				opacity: 0.6;
				&:hover {
					opacity: 1;
					background: image-url('icons/github.png') no-repeat 0 -26px;
				}
			}
			#angellist {
				background: image-url('icons/angel.png') no-repeat 0 0;
				opacity: 0.6;
				&:hover {
					opacity: 1;
					background: image-url('icons/angel.png') no-repeat 0 -26px;
				}
			}

			table {
				width: 100%;
				.field {
					width: 20%;
					color: $gray-lt;
					font-size: 12px;
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: 1px;
					padding: 3px 0 3px 0;
					vertical-align: text-top;
				}
				.var {
					width: 80%;
					color: $gray;
					font-weight: normal;
					font-size: 13px;
					padding: 3px 0 3px 0;
				}
			}
		}

	}
	
	.line {
		display: block;
		position: absolute;
		height: 2px;
		background: $gray-x-lt;
		width: 100%;
		top: 60px;
		left: 0;
	}
}

/******************************/
/****** PROFILE - BOTTOM ******/
/******************************/

.profile-bottom {
	display: block;
	width: 100%;
	.section-left {
		display: block;
		width: 36%;
		float: left;
		padding-right: 2%;
		border-right: 1px solid $gray-x-x-lt;
		.profile-posts {
			padding-left: 15px;
			#post { width: 90%;}
		} 
		.info-section { 
			padding: 15px 12px 0 12px; 
			border-top: 1px solid $gray-x-x-lt;
			margin-top: 20px;
		}
		.skills-section { padding: 20px 12px 0 0; }
	}
	.section-right {
		display: block;
		width: 58%;
		float: right;
		p {
			color: $gray-med;
			//padding: 2px 10px;
		}
	}
}

.section-bar {
	display: block;
	width: 96%;
	border-bottom: 2px solid $gray-x-lt;
	padding-bottom: 5px;
	margin-bottom: 25px;
	margin-top: 30px;

	font-size: 12px;
	font-weight: bold;
	color: $gray-lt;
	letter-spacing: 1px;
	text-transform: uppercase;
}


/***** sections ******/

.profile-section {
	display: block;
	clear: both;
	width: 100%;
	margin-top: 0px;	

	.header {
		color: $gray-lt;
		font-size: 12px;

		width: 100%;
		display: block;
		padding-bottom: 3px;
		border-bottom: 2px solid $gray_x_lt;
		text-transform: uppercase;
	}
}

.network-section {
	display: block;
	clear: both;
	width: 100%;
	.header{
		display: block;
		width: 95%;
		border-bottom: 2px solid $gray-x-lt;
		padding-bottom: 5px;
		margin-bottom: 25px;

		font-size: 12px;
		letter-spacing: 1px;
		font-weight: bold;
		color: $gray-lt;
		text-transform: uppercase;
	}
}

/*********************/
/****** NETWORK ******/
/*********************/

#network-user-container {
	display: block;
	width: 90%;
	margin-right: 2%;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid $gray-x-x-lt;
	min-height: 80px;
	height: auto;
	overflow: hidden;
	position: relative;

	&:hover { 
		#name { color: $blue; }
	}

	#avatar {
		display: block;
		float: left; 
		margin-right: 30px;
		//border: 1px solid $gray-lt;
		//border-radius: 60px;
		width: 60px;
		height: 60px;
		overflow: hidden;
		position: absolute;
		top: 20px;
		left: 15px;
	}
	.skills {
		display: block;
		width: 50%;
		float: right;
		margin-top: 5px;
		margin-right: 5px;
		.skill-tag {
			display: block;
			float: right;
			margin-bottom: 6px;
			margin-left: 12px;
			@include tag;
			background: $gray-lt;
			font-size: 9px;
			font-weight: normal;
			&:hover { background: $gray; }
		}
	}
	.info {
		color: $gray;
		font-size: 15px;

		display: block;
		position: absolute;
		top: 10px;
		left: 110px;
		width: 50%;
		min-width: 300px;

		#name {
			display: block;
			float: left;
			font-weight: normal;
			margin-bottom: 0px;

			&:hover { color: $blue; }
		}
		.bio{
			display: block;
			margin: 0;
			margin-left: 2px;
			clear: both;

			font-style: italic;
		}
		#profile_links {
			margin-top: 6px;
			margin-left: -8px;
			width: 100%;
			min-width: 300px;
			display: block;
			float: left;
			clear: both;
			overflow: hidden;
			.icon-muted { 
				color: $gray-lt; 
				padding-top: 1px;
			}
			span {
				margin-left: 2px;
			}
		}
	}
}

// TAGS
.type {
		display: block;
		float: left;
		margin-top: 15px;
		margin-left: 10px;
		@include tag;	
		font-size: 10px;
	}
	.blue {
			background: $blue;
		}
	.red {
		background: $red;
	}
	.teal { background: $teal; }
	.orange { background: $orange; }

#alumni-container {
	display: block;
	position: relative;
	width: calc(100% - 60px);
	margin-left: 25px;
	#alumni-search {
		display: block;
		position: absolute;
		top: 0px;
		right: 0;
		input[type="submit"] {
			margin-top: -10px;
			background: $blue;
			&:hover { background: $blue-4; }
		}
		::-webkit-input-placeholder {
   		color: $gray-lt;
   		font-size: 12px;
   		font-style: italic;
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: $gray-lt;
   		font-size: 12px;
   		font-style: italic;
		}
		::-moz-placeholder {  /* Firefox 19+ */
		  color: $gray-lt;
   		font-size: 12px;
   		font-style: italic;
		}
		:-ms-input-placeholder {  
		  color: $gray-lt;
   		font-size: 12px;
   		font-style: italic; 
		}
	}
}


/*********************/
/****** QUIZZES ******/
/*********************/
.quiz-section {
	display: block;
	position: relative;
	width: 96%;
	border-bottom: 1px solid $gray-x-lt;
	padding: 10px 0 20px 0;
	overflow: hidden;

	.book_image {
		width: 60px;
		height: 60px;
		display: block;
		position: absolute;
		top: 15px;
		left: 0;
		border-radius: 0px;
		overflow: hidden;
		margin-bottom: 15px;
	}
	.score-tile {
		width: 50px;
		height: 50px;
		background: $blue;
		position: absolute;
		top: 15px;
		left: 0;
		border-radius: 2px;
		overflow:hidden;
		margin-bottom: 15px;

		.score {
			font-size: 17px;
			font-weight: normal;
			text-align: center;
			vertical-align: middle;
			color: white;
			padding-top: 15px;
		}
	}
	.title {
		display: block;
		margin-left: 80px;
		margin-bottom: 8px;

		font-size: 18px;
		font-weight: normal;
		color: $gray-dark;
		padding-top: 7px;
	}
	.description {
		display: block;
		margin-left: 80px;
		margin-bottom: 8px;

		font-size: 15px;
		color: $gray;
	}
}



/*********************/
/****** BADGES *******/
/*********************/

#badges, #current {
	overflow: hidden;
	height: auto;
	padding-bottom: 10px;

	.container {
		display:block;
		float: left;
		width: 25%; 
		margin-right:8px;
		margin-bottom: 12px;
		cursor: pointer;


		.box {
			border: 1px solid $gray_x_lt;
			background: $gray-x-x-lt;
			padding: 15px 17px;
			border-radius: 2px;	
			position: relative;
			background-size: contain;


			
		}
		.title {
			color: $gray-dark;
			font-weight: normal;
			padding-top: 7px;
			padding-left: 3px;
			font-size: 16px;
		}
		.date {
			color: $gray-lt;
			font-weight: normal;
			padding-left: 3px;
			font-size: 13px;
		}

		.play-button {
			display: none;
			opacity: 0.8;
			width: 0;
			height: 0;
			border-top: 13px solid transparent;
			border-bottom: 13px solid transparent;
			border-left: 20px solid $gray-lt;

			position: absolute;
			top: 12px;
			left: 15px;
			z-index: 100;
		}

		&:hover {
			.play-button {
				display: block;
			}
			.box {
				border: 1px solid $gray-lt;
			}

		}
		
	}
}

/*********************/
/**** ASSIGNMENTS *****/
/*********************/

#assignments {
	display: block;
	position: relative;
	width: 96%;
	border-bottom: 1px solid $gray-x-lt;
	padding: 0px 5px 25px 0px;
	margin-bottom: 15px;
	overflow: hidden;
	.section {
		display: block;
		position: relative;
		overflow: hidden;
		min-height: 35px;
		padding-left: 5px;

		.icon {
			display: block;
			width: 60px;
			height: 60px;
			position: absolute;
			top: 5px;
			left: 0;
		}

		// .icon-section {
		// 	display: none;
		// 	float:left; 
		// 	width: 78px;
		// 	.icon {
		// 		background-image: url("icons/assignment.png");
		// 		width: 53px;
		// 		height: 41px;
		// 	}

		// }
		.text-section {
			display: block;
			float: left;
			width: calc(100% - 80px);
			margin-left: 75px;
			padding-top: 5px;

			.title {
				font-size: 18px;
				font-weight: normal;
				color: $gray-dark;
				padding-bottom: 6px;
				padding-top: 7px;
			}
			.description {
				font-size: 15px;
				font-weight: normal;
				color: $gray;
				width: 100%;
			}
			.response {
				display: block;
				margin-left: 80px;

				font-size: 14px;
				color: $gray-dark;
				font-weight: normal;
			}
		}


		.button-section {
				display: block;
				width: calc(100% - 80px);
				margin-left: 80px;
				min-width: 100px;

			.download-button-blue {
				display: block;
				float:  left;
				text-transform: uppercase;
				margin-top: 0px;
				@include button-green;
				padding: 4px 12px;
				font-size: 12px;
				font-weight: 700;
				margin-right: 20px;

				&:hover { 
					color: white; 
					background: $teal-3;
				}
			}

			.link-button-yellow {
				display: block;
				float: left;
				text-transform: uppercase;
				margin-top: 0px;
				margin-bottom: 5px;
				@include button-yellow;
				font-size: 12px;
				padding: 4px 12px;
				font-weight: 700;
				margin-right: 20px;

				&:hover { 
					color: white; 
					background: $yellow-hover;
				}
			}
		}	
	}
	#comments_container {
	  width: 100%;
	  display: block;
	  border: 1px solid $gray-x-x-lt;
	  position: relative;
	  padding: 10px 0;
	  margin-top: 20px;
	  margin-left: 0;
	  .picture {
	    width: 30px;
	    height: 30px;
	  }
	  #comments {
	    margin-bottom: 8px;
	    margin-top: 8px;
	    border-bottom: 1px solid $gray-x-x-lt;
	    min-height: 30px;
	    .timestamp { display: none; }
	    .picture {
	      height: 30px;
	      width: 30px;
	      img {
	        height: 30px;
	        width: 30px;
	      }
	    }
	    .name { 
	      font-size: 13px; 
	      margin-left: 38px;
	      margin-right: 5px;
	    }
	    a {
	      color: $blue;
	      &:hover { color: $blue-4; }
	    }
	    .content {
	      margin-left: 38px;
	      font-size: 12px;
	      min-height: 30px;
	      word-wrap: break-word;
	    }
	  } //end comments

	  #comment_form {
	    margin-top: 15px;
	    textarea {
	      resize: none;
	      height: 20px;
	      width: calc(80% - 45px);
	      margin-left: 38px;  
	      font-size: 12px;
	    }
	    .picture {
	      height: 30px;
	      width: 30px;
	      img {
	        height: 30px;
	        width: 30px;
	      }
	    }
	  } //comment_form
	}
}

/*********************/
/**** MILESTONES *****/
/*********************/

#milestones {
	.section {
		display: block;
		position: relative;
		width: 96%;
		border-bottom: 1px solid $gray-x-lt;
		padding: 10px 0 20px 0;
		margin-bottom: 20px;
		overflow: hidden;
		min-height: 65px;

		.icon {
			display: block;
			width: 60px;
			height: 60px;
			position: absolute;
			top: 5px;
			left: 0;
		}
		.description {
			display: block;
			margin-left: 80px;
			margin-bottom: 8px;
			width: 80%;

			font-size: 18px;
			font-weight: normal;
			color: $gray-dark;
		}
		.response {
			display: block;
			margin-left: 80px;
			width: 85%;

			font-size: 15px;
			color: $gray;
			font-weight: normal;
		}
	}
	#comments_container {
    width: 100%;
    border: 1px solid $gray-x-x-lt;
    position: relative;
    padding: 10px 0;
    margin-top: 20px;
    margin-left: 0;
    .picture {
      width: 30px;
      height: 30px;
    }
    #comments {
      margin-bottom: 8px;
      margin-top: 8px;
      border-bottom: 1px solid $gray-x-x-lt;
      min-height: 30px;
      .timestamp { display: none; }
      .picture {
        height: 30px;
        width: 30px;
        img {
          height: 30px;
          width: 30px;
        }
      }
      .name { 
        font-size: 13px; 
        margin-left: 38px;
        margin-right: 5px;
      }
      a {
        color: $blue;
        &:hover { color: $blue-4; }
      }
      .content {
        margin-left: 38px;
        font-size: 12px;
        min-height: 30px;
        word-wrap: break-word;
      }
    } //end comments

    #comment_form {
      margin-top: 15px;
      textarea {
        resize: none;
        height: 20px;
        width: calc(80% - 38px);
        margin-left: 38px;  
        font-size: 12px;
      }
      .picture {
        height: 30px;
        width: 30px;
        img {
          height: 30px;
          width: 30px;
        }
      }
    } //comment_form
  }
}

.skill-tag {
	display: block;
	float: left;
	margin-left: 12px;
	margin-bottom: 6px;
	@include tag;
	background: $gray-lt;
	font-size: 11px;
	font-weight: normal;
	&:hover { background: $gray; }
}


#profile-about-table {
 	color: $gray;
 	margin-left: 15px;
 	max-width: 95%;
 	a { 
 		color: $gray; 
 		&:hover { color: $blue; }
 	}
 	td { padding: 3px; }
 	.icon {
 		width: 25px;
 		padding-left: 0px;
 		vertical-align: top;
 		i { color: $gray-lt; }
 	}
 }


 @media all and (min-width: 1001px) { }
 @media all and (max-width: 1000px) and (min-width: 700px) { 
 	.profile-bottom {
 		.section-left {
 			width: 100%;
 			border-right: none;
 			#profile-info { display: none; }
 		}
 		.section-right {
 			width: 100%;
 			float: left;
 		}
 	}
 	#profile_top_container {
 		#avatar img {
 			width: 100px;
 			height: 100px;
 		}
 		.right { 
 			margin-left: 120px;
 			padding-top: 15px;
 			.name { font-size: 2.0em; line-height: 1.2; }
 		}
 	}
 }
 @media all and (max-width: 699px) {  
 	.profile-bottom {
 		.section-left {
 			width: 100%;
 			border-right: none;
 			#profile-info { display: none; }
 		}
 		.section-right {
 			width: 100%;
 			float: left;
 			.nav-tabs li a {
 				padding: 8px 5px;
 				font-size: 10px;
 				letter-spacing: 0;
 			}
 		}
 	}
 	#profile_top_container {
 		#avatar img {
 			width: 60px;
 			height: 60px;
 		}
 		.right { 
 			margin-left: 80px;
 			padding-top: 8px;
 			.name { font-size: 2.0em; line-height: 1.2; }
 		}
 	}
 }








