// Place all the styles related to the video controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.video-section-p {
  width: 60%;
  color: $gray;
  padding-top: 10px;
}
#video-container {
  display: block;
  position: relative;
  width: 180px;
  height: 230px;
  background: #f2f2f2;
  float: left;
  margin-bottom: 30px;
  padding-bottom: 15px;
  overflow: hidden;
  .pic {
    width: 180px;
    height: 140px;
    overflow: hidden;
    img {
      width: 180px;
      height: 200px;
      position: relative;
    }
    .icon img{
      display: none;
      position: absolute;
      top: 110px;
      left: 0;
      width: 50px;
      height: 40px;
    }
  }
  .video-text {
    display: block;
    padding: 15px 10px;
    height: 150px;
    overflow: hidden;
    .title {
      color: $gray-dark;
      font-size: 20px;
      font-weight: normal;
      line-height: 28px;
      height: 56px;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 8px;
    }
    .description {
      color: $gray-blue-x-lt;
      font-size: $font-small;
      font-weight: normal;
      height: auto;
      max-height: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .border-bottom {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: $blue;
  }
}



.video-container {
  padding-top: 20px;
  border-top: 1px solid $gray-x-lt;
  width: 90%;
  margin-left: 3%;
  min-height: 120px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  display: block;
  /* @include rounded-corners; */
  h2 { line-height: 1.3; }

  &:hover {
    h2 {
      color: $blue;
    }
  }
}
.pic {
  display:block;
  float:left;
  position: relative;
  width: 90px;
  height: 90px;
  opacity: 0.8;
  border-radius: 4px;
  overflow: hidden;
  img {
    height: 90px;
    width: 90px;
    overflow: hidden;
  }
  .icon {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0px;
    img {
      height: 30px;
      width: 40px;
    }
  }
}

.complete {
    position: absolute;
    background-image: url("icons/complete-overlay.png");
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    display: block;
    z-index: 99;
    border-radius: 3px;
    overflow: hidden;
  }

.video-information {
  display:block;
  float: left;
  min-height: 100px;
  width: calc(95% - 120px);
  margin-left: 18px;
  margin-top: -5px;
  h2 { font-size: 20px; margin-bottom: 5px; }
  .description {
    color: $gray-lt;
    font-size: 14px;
  }
  a { color: $gray; }
  .title {

  }
}

.link-button-yellow {
  display: block;
  float: left;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 5px;
  @include button-yellow;
  font-size: 12px;
  font-weight: 700;

  &:hover {
    color: white;
    background: $yellow-hover;
  }
}
