<div style="width: 90%; display: block; margin: 0 auto; margin-top: 60px; text-align: center; color: #919191;">
  <h2 style="color: #414141;">Thanks, you paid <strong>$850.00</strong>!</h2>
   <p style="padding-top: 20px; padding-bottom: 20px; font-size: 14px; max-width: 300px; margin: 0 auto;">We will contact you with your login information on or before January 19, 2014.</p>
</div>