<ul class="nav pull-right">
  <li class="dropdown">
    <div class="sb-toggle-right dropdown" data-toggle="dropdown" href="#">
      <i class="fa fa-gear fa-2x empty" style="padding-top: 10px; padding-right: 12px;" id="notifications"></i>
    </div>
    <ul class="dropdown-menu">
      <li role="menu"><%= link_to 'My Profile', student_profile_path(current_user)  %></li>
      <li role="menu"><%= link_to 'Settings',  edit_user_path(current_user) %></li>
      <li role="menu"><%= link_to 'Change Password',  edit_user_registration_path %></li>
      <li class="divider"></li>
      <li role="menu"><%= link_to 'Log Out', logout_path, :use_rails_ajax => false %></li>
    </ul>
  </li><!-- dropdown -->
</ul>

